<div>
    <h3>Locations Admin</h3>
</div>

<div *ngIf="locations != null">
    <form [formGroup]="locationsListForm">
        <mat-form-field appearance="fill">
            <mat-label for="location">Location: </mat-label>
            <select formControlName="locationList" matNativeControl (change)="changeLocation($event)">
                <option>Choose Location</option>
                <option *ngFor="let location of locations" value="{{location.locationId}}">{{location.locationName}}</option>
            </select>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label>Update location</mat-label><br/>
            <input formControlName="location" matNativeControl required placeholder="Location name" value="{{locationName}}">
            <mat-error *ngIf="location.invalid">Please enter a valid location name</mat-error>
        </mat-form-field>
        <br/>
        <mat-form-field appearance="fill">
            <mat-label for="perception">Perception: </mat-label>
            <select formControlName="perception" required matNativeControl>
                <option>Choose Perception</option>
                <option value="Positive">Positive</option>
                <option value="Negative">Negative</option>
            </select>
            <mat-error *ngIf="perception.invalid">Please choose a perception</mat-error>
        </mat-form-field>
        <br/>
        <button mat-raised-button color="primary" [disabled]="locationsListForm.invalid" (click)="updateLocation()">Update</button> ||
        <button mat-raised-button color="primary" [disabled]="locationsListForm.invalid" (click)="addLocation()">Add</button> ||
        <button mat-raised-button color="primary" [disabled]="locationsListForm.invalid" (click)="deleteLocation()">Delete</button>
    </form>
</div>
